<div class="row">
  <div class="col-sm-12">
    <navbar></navbar>
  </div>
</div>

<div class="row table-hc3">
  <div class="col-sm-12">
    <h1 class="h1-hc3">Lista de Veiculos</h1>
    <button ui-sref="newVehicle" class="btn btn-primary">Novo</button>
    <div class="table-responsive">
        <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Motorista</th>
          <th>Placa</th>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Ano</th>
          <th>Editar</th>
          <th>Visualizar</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="vehicle in vm.listVehicle">
          <td>{{ vehicle.id }}</td>
          <td>{{ vehicle.Driver.name }}</td>
          <td>{{ vehicle.placa }}</td>
          <td>{{ vehicle.modelo }}</td>
          <td>{{ vehicle.marca }}</td>
          <td>{{ vehicle.ano }}</td>
          <td><a ui-sref="editVehicle({id: vehicle.id})"><span class="glyphicon glyphicon-check"></span></a></td>
          <td><a ui-sref="viewVehicle({id: vehicle.id})"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
