<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="vm.isNavCollapsed = !vm.isNavCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">A menu</a>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="vm.isNavCollapsed">
    <ul class="nav navbar-nav">
      <li><a ui-sref="listDriver">Driver</a></li>
      <li><a ui-sref="listVehicle">Veículo</a></li>
      <li><a href="#">Pneus</a></li>
    </ul>
  </div>
</nav>
