<style type="text/css">
  input.ng-valid.ng-touched {
    background-color:green
  }

  input.ng-invalid.ng-touched {
    background-color:red
  }
</style>

<div class="row">

  <div class="col-md-12">
    <div class="form-group">
      <label for="" class="col-sm-1 control-label">Motorista: </label>
      <div class="col-sm-11">
        <select class="form-control" name="driver_id" required data-ng-model="vm.vehicle.driver_id">
          <option value="{{driver.id}}" ng-repeat="driver in vm.listDriver">
            {{driver.cod}} - {{driver.name}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">Placa: </label>
      <div class="col-sm-10">
        <input id="vehiclePlaca" type="text" class="form-control"
        data-ng-model="vm.vehicle.placa"
        data-ng-minlength="7"
        mask="AAA-9999"
        required>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">Modelo: </label>
      <div class="col-sm-10">
        <input id="vehiclePlaca" type="text" class="form-control"
        data-ng-model="vm.vehicle.modelo"
        required>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">Marca: </label>
      <div class="col-sm-10">
        <input id="vehiclePlaca" type="text" class="form-control"
        data-ng-model="vm.vehicle.marca"
        required>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">Eixos: </label>
      <div class="col-sm-10">
        <input id="vehiclePlaca" type="number" class="form-control"
        data-ng-model="vm.vehicle.eixos"
        required>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">Km inicial: </label>
      <div class="col-sm-10">
        <input id="vehiclePlaca" type="number" class="form-control"
        data-ng-model="vm.vehicle.km_inicial"
        required>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-success" value="Salvar" data-ng-disabled="vm.vehicleForm.$invalid">
      <input type="submit" class="btn btn-danger" value="Cancelar" ui-sref="listVehicle">
    </div>
  </div>

</div>
