<div class="row">
  <div class="col-sm-12">
    <navbar></navbar>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
      <div class="form-group">
        <label for="" class="col-sm-1 control-label">Motorista: </label>
        <div class="col-sm-11">
          <input id="vehiclePlaca" type="text" class="form-control"
          data-ng-model="vm.vehicleOne.Driver.name"
          data-ng-require="true"
          ng-disabled="true">
        </div>
      </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Placa: </label>
        <div class="col-sm-10">
          <input id="vehiclePlaca" type="text" class="form-control"
          data-ng-model="vm.vehicleOne.placa"
          data-ng-require="true"
          ng-disabled="true">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Modelo: </label>
        <div class="col-sm-10">
          <input id="vehiclePlaca" type="text" class="form-control"
          data-ng-model="vm.vehicleOne.modelo"
          data-ng-require="true"
          ng-disabled="true">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Marca: </label>
        <div class="col-sm-10">
          <input id="vehiclePlaca" type="text" class="form-control"
          data-ng-model="vm.vehicleOne.marca"
          data-ng-require="true"
          ng-disabled="true">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Eixos: </label>
        <div class="col-sm-10">
          <input id="vehiclePlaca" type="text" class="form-control"
          data-ng-model="vm.vehicleOne.eixos"
          data-ng-require="true"
          ng-disabled="true">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Km inicial: </label>
        <div class="col-sm-10">
          <input id="vehiclePlaca" type="text" class="form-control"
          data-ng-model="vm.vehicleOne.km_inicial"
          data-ng-require="true"
          ng-disabled="true">
        </div>
      </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ui-sref="listVehicle" class="btn btn-default">Lista</button>
            <button data-ng-click="vm.removeOne()" class="btn btn-danger">Remove</button>
        </div>
    </div>

  </div>
</div>
